---
http_interactions:
- request:
    method: get
    uri: http://api.camelotunchained.com/v1/gamedata/attributeoffsets/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Logintoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"race":16,"gender":1,"attributeOffsets":{"Strength":1.0,"Dexterity":0.0,"Agility":1.0,"Vitality":3.0,"Endurance":5.0,"Attunement":-4.0,"Will":-5.0,"Faith":2.0,"Resonance":-3.0,"Age":20.0,"Mass":100.0,"Eyesight":-5.0,"Hearing":-5.0,"Presence":5.0,"Clarity":5.0,"Affinity":0.0}},{"race":16,"gender":2,"attributeOffsets":{"Strength":1.0,"Dexterity":0.0,"Agility":1.0,"Vitality":3.0,"Endurance":5.0,"Attunement":-4.0,"Will":-5.0,"Faith":2.0,"Resonance":-3.0,"Age":20.0,"Mass":100.0,"Eyesight":-5.0,"Hearing":-5.0,"Presence":5.0,"Clarity":5.0,"Affinity":0.0}},{"race":18,"gender":1,"attributeOffsets":{"Strength":0.0,"Dexterity":2.0,"Agility":3.0,"Vitality":1.0,"Endurance":3.0,"Attunement":-5.0,"Will":-2.0,"Faith":2.0,"Resonance":-4.0,"Age":20.0,"Mass":100.0,"Eyesight":-5.0[...]
