---
http_interactions:
- request:
    method: get
    uri: http://api.camelotunchained.com/v1/gamedata/attributes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Logintoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"baseValue":30.0,"derivedFrom":"None","description":"Increases the
        power of the character''s magic effects and resistance to the negative effects
        of the Veil, and allows use of magic shapes and runes.","maxOrMultipler":100.0,"name":"Attunement","type":1,"units":"units"},{"baseValue":30.0,"derivedFrom":"None","description":"Improves
        Veil Subtlety of magic used, reducing its effects on the Veil, and allows
        use of modifier components as a part of magic spells.","maxOrMultipler":100.0,"name":"Will","type":1,"units":"units"},{"baseValue":30.0,"derivedFrom":"None","description":"Allows
        use of ability components granted by Greater Powers and increases the power
        of incoming healing.","maxOrMultipler":100.0,"name":"Faith","type":[...]
