---
http_interactions:
- request:
    method: get
    uri: http://api.camelotunchained.com/v1/patcheralerts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Logintoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id": "56a98f8965fe574304e0a193","message": "A test message, please ignore","utcDateEnd": "2016-01-29T03:48:25.662Z","utcDateStart": "2016-01-28T03:48:25.662Z"}]'
  recorded_at: Fri, 22 Apr 2016 15:44:27 GMT
recorded_with: VCR 3.0.1
