---
http_interactions:
- request:
    method: get
    uri: http://api.camelotunchained.com/v1/patcherherocontent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Logintoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"content":"<link rel=\"stylesheet\" id=\"ss-blockquote-heading-font-css\"
        href=\"http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700\"
        type=\"text/css\" media=\"all\"><link rel=\"stylesheet\" id=\"ss-main-heading-font-css\"
        href=\"http://fonts.googleapis.com/css?family=Caudex:400,700\" type=\"text/css\"
        media=\"all\"><style>  .archer-vid {position: fixed;top: 50%;left: 50%;min-width:
        100%;min-height: 100%;width: auto;height: auto;transform: translateX(-50%)
        translateY(-50%);background-size: cover;} .archer-hero {padding-left: 300px;
        padding-top: 65px; overflow: hidden; text-align: center;} .archer-hero div{
        position: absolute; z-index: 1; top: 25%; width: calc(100% - 308px); } .archer-hero
        span {min-width: 530px; margin: auto; display: block; padding-left: 35%; }
        .archer-hero h1 {  color: #3C2317; font-family: ''Caudex'', sans-serif ; margin:
        0 0 15px 0; font-size: 5.5em ; padding: 0; line-height: 0.7em; font-weight:
        400; letter-spacing: -3px;} .archer-hero h2 { font-family: ''Titillium Web'',
        sans-serif !important; color: #674023; font-size: 1.8em; font-weight: 400;
        margin: 0 0 5px 10px; text-transform: uppercase; letter-spacing: 5px; } </style>
        <div class=''archer-hero herotext''> <div> <span class=\"righttext\"> <h1>Defend</h1>
        <h2>our forest</h2></span> </div></div> <video class=''archer-vid'' src=''videos/archer.webm''
        autoplay loop poster=\"videos/archer.jpg\"></video>","id":"56e8299ba7b0a06214e5602e","priority":7,"utcDateEnd":"2017-03-15T15:26:19.423Z","utcDateStart":"2016-03-15T15:26:19.423Z"},{"content":"
        <link rel=\"stylesheet\" id=\"ss-blockquote-heading-font-css\" href=\"http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700\"
        type=\"text/css\" media=\"all\"><link rel=\"stylesheet\" id=\"ss-main-heading-font-css\"
        href=\"http://fonts.googleapis.com/css?family=Caudex:400,700\" type=\"text/css\"
        media=\"all\"><style>  .raven-vid {position: fixed;top: 50%;left: 50%;min-width:
        100%;min-height: 100%;width: au[...]
